# ModusToolbox Build Outputs
build/
*/build/
*.hex
*.bin
*.elf
*.o
*.d
*.rsp
*.map
*.lst

# ModusToolbox caches & local tools
.mtbqueryapi
.cy_deps/
*.log
compile_commands.json
.ninja_log

# Omitted Proprietary Model Weights (Available upon contact)
proj_cm55/model/MODEL_E84_tflm_model_int8x8.c
proj_cm55/head/CompressedHeadWeights.cc

# Editor & OS temporary files
.vscode/
.idea/
.DS_Store
Thumbs.db
